body {background-color:tan;}
h1 {color:green;}
body {
    background-color:black;
    font: Arial;
    color: white;
}
h1 {color:grey;}

.maindiv {
    background-color: white;
    color:black;
    width: 300px;
    padding: 20px;
    border-radius: 25px;
    box-align: center;
}